body {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.menu {
    background-color: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding: 20px;
}

.anasayfa {
    margin-left: 200px;
    margin-top: 10px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
.anasyf{
    margin: 20px;
    color: gray;
}

.btn {
    width: 100%;
    display: block;
    text-align: left;
}

#anadiv{
    display: flex;
}

#div1, #div2 {
    flex: 1;  
    padding: 10px;
    border: 1px solid gray;
    margin:20px;
    border-radius:5px;
    position: relative;

}
button{
    border: 1px solid gray;
    border-radius:5px;

}
.submitbtn{
    
        position: absolute;
        bottom: 40px; 
        right: 20px; 
 
}


